# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
# sites/*/files
# sites/*/private

# Ignore files specific to shared hosting
sites/sites.php
art-of-touch
copenhagen-chansonnier
songbook-from-eldorado
.gitignore