.fontyourface-526 { font-family: 'EB Garamond'; font-style: normal; font-weight: normal; }
.fontyourface-786 { font-family: 'Italiana'; font-style: normal; font-weight: normal; }
.fontyourface-797 { font-family: 'Josefin Sans'; font-style: normal; font-weight: 100; }
