 /*
   * The layout when there is only one sidebar, the right one.
   */

  .sidebar-second #content { /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 75%; /* 66.667%; */
    margin-left: 0%;
    margin-right: -75%; /* -66.667%; */
  }
  .sidebar-second .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 25%; /* 33.333%; */
    margin-left: 75%; /* 66.667%; */
    margin-right: -100%;
  } 